<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.InstaPhoto" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Peaky Motors</name>
    <description>
        Aplicativo de Lojas de Motos
    </description>
    <author email="joaopedroengmec@hotmail.com" href="http://uepa.br">
        Turma Tads 2017
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <allow-navigatoin href="*"/>
    
    <preference mame="orientation" value="default" />	
    <preference mame="phonegap-version" value="cli-7.1.0" />	
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <plugin name="cordova-plugin-dialogs" spec="~2.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />

    <platform name="android">
    	<icon density="icone"    src="res/icon/android/icone.jpg" />
    	<icon density="icone"    src="res/icon/android/icone.jpg" />
    	<icon density="icone"   	src="res/icon/android/icone.jpg" />
    	<icon density="icone"   src="res/icon/android/icone.jpg" />
    	<icon density="icone"  src="res/icon/android/icone.jpg" />
    	<icon density="icone" src="res/icon/android/icone.jpg" />
	</platform>
</widget>
